html, body {

	background-color: #000;
	color: #FFF;
}

body{
	margin-top: 20px;
	display: flex;
	flex-direction: column;
}


/* −− BEST MOVIE −−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−− */
#bestMovie{
	display: flex;

	/*background-image: linear-gradient(to right, #541354, transparent);*/
	justify-content: center;
}

#bestText{
	width: 50%;
	text-align: right;
	padding-right: 50px;
}
#bestText p, #bestText h1{
	margin-left: auto; 
	margin-right: 0;
	width: 250px;
}

#bestText button{
	border: 2px solid transparent;
}
#bestText button:hover{
	border-radius: 2px;
	border: 2px solid #4CAF50;
	cursor: pointer;
}



#bestCover{
	width: 50%;
}
#bestCover img{
	width: 250px;
}

/* −− CAROUSEL −−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−− */
.container{
	margin: 0px;
	padding: 0px;
}
.headerCarousel{
	justify-content: center;
}
.headerCarousel h1{
	margin: 0px;
	padding: 0px;
	color: #FFF;

	font-size: 1.3em;
	text-align: center;
}

.sectionCarousel{
	display: flex;
	justify-content: center;
}
#container1, #container2, #container3, #container4 {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-top: 5px;
}


.coverCarousel{
	/*transform: scale(0.8);*/
	border: 2px solid transparent;
	width: 130px;
}
.coverCarousel:hover {
	border-radius: 2px;
	border: 2px solid #4CAF50;
	cursor: pointer;
}

.buttonCarousel {
  background-color: #000;
  border: none;
  color: #FFF;
  border: 2px solid transparent;
  text-align: center;
  font-size: 3em;
}
.buttonCarousel:hover {
	color: #FFF;
	background-color: #122912;
	border-radius: 2px;
	border: 2px solid #4CAF50;
	cursor: pointer;
}


/* −− DETAILS MODAL −−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−− */
/* The Modal (background) */
#detailContainer{
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.6); /* Black w/ opacity */

	color: #FFF;
}

/* Modal Content/Box */
#detailContent{
	background-color: #000;
	border: 2px solid #4CAF50;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	width: 80%;
}

#detailHeader{
	text-align: center;
	background-color: #122912;
}
.detailsBoxTitle{
	color: #FFF;
	text-decoration:none; 
}


#detailMain{
	display: flex;
	justify-content: center;
}
.detailsBox{
	background-color: #122912;
	margin: 5px;
	color: #FFF;
	padding: 5px;
}
.detailsBox2{
	background-color: #1D421D;
}
.detailsBox td{
	padding: 7px;
	text-align: right;

	width: 100%;
}
.detailsBox .tdLeft{
	text-align: left;
}
.detailsBox li{
	list-style: none;
}
.detailsBox img{
	width: 280px;
}
